@model BTL_Nhom10.Areas.Admin.Models.DonHang

@{
    ViewBag.Title = "Xóa";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="margin">
    <h2>Xóa</h2>
    <div>
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.MaDH)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MaDH)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NgayDat)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NgayDat)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NguoiDat)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NguoiDat)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DiaChi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DiaChi)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.HinhThucTT)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HinhThucTT)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TongTien)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TongTien)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Xóa" class="btn btn-default" /> |
                @Html.ActionLink("Quay lại", "Index")
            </div>
        }
    </div>
</div>
@if(ViewBag.Error!=null)
{
    <br />
    <div class="alert alert-danger"  role="alert">@ViewBag.Error</div>
}