@model BTL_Nhom10.Areas.Admin.Models.DonHang

@{
    ViewBag.Title = "Thông tin";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="margin">

    <h2>Thông tin</h2>

    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.MaDH)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MaDH)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.NgayDat)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NgayDat)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NguoiDat)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NguoiDat)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DiaChi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DiaChi)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.HinhThucTT)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HinhThucTT)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TongTien)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TongTien)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Sửa", "Edit", new { id = Model.MaDH.Trim() }) |
        @Html.ActionLink("Quay lại", "Index")
    </p>
</div>
