@model IEnumerable<BTL_Nhom10.Areas.Admin.Models.SanPham>

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section StyleSheet{
    <link href="~/Content/search.css" rel="stylesheet" />
}

<div id="wrap-inner">
    <div class="products">
        <h3>
            @if (ViewBag.searchText != null)
            {
                @:Tìm kiếm: @ViewBag.searchText
            }
            @if (ViewBag.searchText == "") 
            {
                @:Tất cả
            }
        </h3>
        <div class="product-list row">
            @foreach (var item in Model)
            {
                <div class="product-item col-lg-3 col-md-4 col-6">
                    <span class="pay">Trả góp 0%</span>
                    <a href="@Url.Action("Index", "Product", new { id = item.MaSP.Trim()})">
                        @{
                            string path = "~/wwwroot/images/" + item.AnhSP;
                        }
                        <img src="@Url.Content(path)" class="img-thumbnail">
                        <p>@Html.DisplayFor(modelItem => item.TenSP)</p>
                    </a>
                    <span class="price">@Html.DisplayFor(modelItem => item.DonGia)₫</span><br>
                    <a class="buy-now" href="">Mua ngay</a>
                    <a href="@Url.Action("Index", "Product", new { id = item.MaSP.Trim()})" class="detail buy-now">
                        Chi tiết
                    </a>
                </div>
            }
        </div>
    </div>
</div>

