@model IEnumerable<BTL_Nhom10.Areas.Admin.Models.SanPham>
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section StyleSheet{
    <link href="~/Content/details.css" rel="stylesheet" />
}

<div id="wrap-inner">
    <div id="product-info">
        @foreach (var item in Model)
        {
            <div class="clearfix"></div>
            <h3>@Html.DisplayFor(modelItem => item.TenSP)</h3>
            <div class="row main-details">
                <div id="product-img" class="col-xl-4 text-center">
                    @{ 
                        string path = "~/wwwroot/images/" + item.AnhSP;
                    }
                    <img height="220" src="@Url.Content(path)">
                </div>
                <div id="product-details" class="col-xl-8">
                    <p>Giá: <span class="price">@Html.DisplayFor(modelItem => item.DonGia)₫</span></p>
                    <p><i class="fas fa-check-circle"></i>Thông số: @Html.DisplayFor(modelItem => item.ThongSo)</p>
                    <p><i class="fas fa-check-circle"></i>Trạng thái: @Html.DisplayFor(modelItem => item.TrangThai)</p>
                    <p class="add-cart text-center"><a href="/Cart/AddToCart/@item.MaSP">Mua ngay</a></p>
                </div>
            </div>
        }
    </div>
</div>

