@model BTL_Nhom10.Areas.Admin.Models.SanPham

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="margin">
    <h2>Xóa Sản Phẩm</h2>
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.DanhMuc.TenDM)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DanhMuc.TenDM)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TenSP)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TenSP)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AnhSP)
            </dt>

            <dd>
                @{ 
                    string path = "~/wwwroot/images/" + Model.AnhSP;
                }
                <img src="@Url.Content(path)" width="150" class="img-thumbnail" />
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ThongSo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ThongSo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TrangThai)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TrangThai)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DonGia)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DonGia)
            </dd>

        </dl>
        @if (ViewBag.error != null)
        {
            <p class="alert alert-danger">@ViewBag.error</p>
        }

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Xóa" class="btn btn-danger" /> |
                @Html.ActionLink("Quay lại", "Index")
            </div>
        }
    </div>
</div>
