@model BTL_Nhom10.Models.SanPham

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>SanPham</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.TenSP)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TenSP)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AnhSP)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AnhSP)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ThongSo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ThongSo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TrangThai)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TrangThai)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DonGia)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DonGia)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MaDM)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MaDM)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.MaSP }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
