
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("StyleSheet", required: false)
    <link href="~/Content/home.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
    <script src="~/Scripts/Javascript/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/Javascript/bootstrap.min.js"></script>
</head>
<body>
    <header id="header">
        <div class="container">
            <div class="row">
                <div id="logo" class="col-sm-3 col-12">
                    <a href='@Url.Action("Index", "Home")'>
                        <i class="fab fa-phoenix-squadron">ima</i>
                    </a>
                </div>
                <div id="search" class="col-sm-6 col-9">
                    @using (Html.BeginForm("Index", "Search", FormMethod.Post))
                    {
                        @Html.TextBox("search_query", "", new { placeholder = "Tên sản phẩm..." }) 
                        <a>
                            <input type="submit" value="Tìm kiếm" />
                        </a>
                    }
                </div>
                <div id="cart" class="col-sm-3 col-3">
                    <a href='@Url.Action("Index", "Cart")'>
                        <span id="amount-cart">
                        @{
                            Html.RenderAction("amount", "Cart");
                        }
                            </span><i class="fab fa-opencart"></i>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <section id="body">
        <div class="menu">
            <nav class="navbar navbar-expand-lg align-center">
                <div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-bars"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        @{
                            Html.RenderAction("_Nav", "Home");
                        }
                    </div>
                </div>
            </nav>
        </div>
        @RenderSection("SlideShow", required: false)
        <div class="container home">
            <div class="row main-content">
                @{ 
                    Html.RenderAction("_Category", "Home");
                }
                <div id="main" class="col-md-9">
                    @RenderBody()
                </div>
            </div>
            <div class="row main-content">
                <div class="col-12">
                    @RenderSection("Watch", required: false)
                </div>
            </div>
        </div>

    </section>

    <footer id="footer">
        <div id="footer-t">
            <div class="container">
                <div class="row">
                    <div id="logo" class="col-xl-3 col-sm-6">
                        <p><a href=""><i class="fab fa-phoenix-squadron">ima</i></a></p>
                        <p><i class="fas fa-map-marker-alt"></i>Tòa nhà Cima - Bắc Từ Liêm - Hà Nội</p>
                        <p><i class="fas fa-phone-alt"></i>0839575644</p>
                        <p><i class="far fa-envelope"></i>ttssn@gmail.vn</p>
                    </div>
                    <div id="footer-menu" class="col-xl-2 col-sm-6">
                        <h3>Menu</h3>
                        <p><a href="">Store</a></p>
                        <p><a href="">Accessories</a></p>
                        <p><a href="">Cable & Charger</a></p>
                        <p><a href="">Travel & Bags</a></p>
                        <p><a href="">Audio System</a></p>
                        <p><a href="">Headphone</a></p>
                    </div>
                    <div id="contact" class="col-xl-3 col-md-6">
                        <h3>Contact</h3>
                        <p>Tư vấn mua hàng (Miễn phí)</p>
                        <p><a href="tel:0839575644"><i class="fas fa-phone-alt"></i>1800 0081</a></p>
                    </div>
                    <div id="fanpage" class="col-xl-4 col-md-6">
                        <h3>FanPage</h3>
                        <iframe src="https://www.facebook.com/v2.11/plugins/page.php?adapt_container_width=true&amp;app_id=1444511078958304&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df309db5867d7a6c%26domain%3Dwww.g-shock.com.vn%26origin%3Dhttps%253A%252F%252Fwww.g-shock.com.vn%252Ff21f0582261ce5c%26relation%3Dparent.parent&amp;container_width=335&amp;height=240&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2FH-O-W-I-E-S-101724134799364%2F&amp;locale=vi_VN&amp;sdk=joey&amp;show_facepile=true&amp;small_header=false&amp;tabs=timeline"
                                frameborder="0" scrolling="no"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer-b">
            <div class="container">
                <div class="row">
                    <div id="footer-b-l" class="col-md-6 col-sm-12 col-xs-12 text-center">
                        <p>Công ty cổ phần thương mại điện tử Cima</p>
                    </div>
                    <div id="footer-b-r" class="col-md-6 col-sm-12 col-xs-12 text-center">
                        <p>© 2020 Cima Ecommerce. All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@

</body>
</html>
